.terms {
    padding: 5%;
    background-color: #391600;
    color: #fbb05a;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    color: #fff1e1;
  }
  
  a {
    color: #ffe8ce;
  }
  
  p {
    border: 0.1em solid rgba(255, 115, 0, 0.3);
    padding: 1%;
  }
  